@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Something Happened...</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


@if (Model.ShowRequestId)
{
    <p>
        We are working to fix this issue. Try again or contact support.
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
